@import url("../../modal.css");
@import url("./3d-social.css");
@import url("./mouse-custom.css");
@import url("./arrow-animation.css");

/*------ Google Fonts ------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*------ Global CSS ------*/
:root {
  /* --gradient: #8b11ee; */
  --gradient: #4f2ae6;
  /* --main-color: #5a31ff; */
  --main-color: #7857fe;
  --white: #ffffff;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --blue: #225687;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
  --hr-white: #ffffff;
  /* --hr-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
  --hr-shadow: 0 5px 20px rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  /* box-sizing: border-box; */
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  /* background-color: #785de6; */
  background-color: var(--main-color);
  width: 0;
  height: 24%;
  /* border-radius: 5px; */
  transition: 0.5s ease;
  /* cursor: pointer; */
  /* cursor: auto; */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

body.dark {
  background-color: var(--bg-dark);
  --black-100: var(--bg-dark);
  --black-000: var(--bg-dark);
  --main-to-dark-color: var(--bg-dark);
  --dark-to-main-color: var(--main-color);
  --shadow-black-100: var(--shadow-black-300);
  --black-alpha-100: rgba(255, 255, 255, 0.05);
  --black-900: #ffffff;
  --black-400: #bbbbbb;
  --white: #ccc;
  --hr-white: #666666;
  --hr-shadow: 0 5px 20px rgba(255, 255, 255);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.custom-hr {
  margin: 0 auto;
  width: 90%;
  background-color: var(--hr-white);
  /* padding-bottom: 1px; */
  box-shadow: var(--hr-shadow);
  /* border-top: 1px solid var(--main-color); */
  /* outline: none; */
}

.btn-1,
.counter-box .count::after {
  transition: all 0.5s ease;
}

.btn-1 {
  background-color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}

.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
  color: #ffffff;
  background-color: var(--main-color);
}

.btn-2 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-100);
  font-weight: 500;
}

.btn-2:focus {
  box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
  color: var(--main-color);
  background-color: #ffffff;
}

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(25, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(25, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(25, 255, 255, 0);
  }
}

@keyframes zoomInOut_01 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-wrap .effect-1 {
  top: 20%;
  left: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2 {
  top: 10%;
  right: 5%;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}
.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 26px;
  color: var(--color-3);
  animation: bounceTop_01 3s linear infinite;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
}

.section-title h2,
.section-title-inner h2 {
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title h2 span,
.section-title-inner h2 span {
  color: var(--main-color);
}

.section-title-inner {
  margin: 2rem 0 0.5rem;
}

.section-title-inner h2 {
  font-size: 1.8rem;
}

.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}

.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #dddddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
  background-color: var(--main-color);
}

/*------ Preloader ------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2100;
  background-color: var(--main-to-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: zoomInOut_01 1s ease infinite;
}

/*------ navbar ------ */
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
}

.navbar > .container {
  padding: 0 15px;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.navbar .nav-item {
  margin-left: 40px;
}

.navbar .nav-item .nav-link {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
  transition: all 0.5s ease;
  /* font-weight: 600;
    letter-spacing: 1px; */
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* .navbar .nav-item .nav-link.active {
    font-weight: 600;
} */

.telugu {
  font-weight: normal;
  /* letter-spacing: 1px; */
}

.chart-img {
  position: relative;
  z-index: -1;
}

/* .chartimg {
} */

.chart-img::after {
  content: "";
  position: absolute;
  background: url("../image/bg/bg-chart-3.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 300;
}

/*------ Showcase Hero ------*/
.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  pointer-events: all;
  background-image:
    /* linear-gradient(to bottom, rgb(120, 87, 254, 0.2), rgb(43, 44, 47, 0.9)), */
    url('../image/bg/showcase-bg\ -\ Copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -50%;
    /* background: url('../image/bg/showcase-bg.png'); */
    
    /* background-blend-mode: color-burn; */
    /* background-blend-mode: color-dodge; */
    /* background-blend-mode: hard-light; */
    /* background-blend-mode: lighten; */

    /* background-blend-mode: luminosity; */
    /* ^^^ Changing targit hit text  */
    
     /* background-blend-mode: multiply; */
    /* background-blend-mode: screen; */
    background-blend-mode: soft-light;
}

/* .home .home-youtube {
    color: #f71d1d;
    font-size: 1.5rem;
} */

.home .home-contact {
  color: #ffffff;
  font-size: 1.4rem;
}

.home .kubera-intro {
  background-color: #f71d1d;
  color: #ffffff;
}

.home .kubera-intro:hover {
  background-color: #d40000;
}

.home .home-contact-btn {
  background-color: #ff7113;
}

.home .home-contact-btn:hover {
  background-color: #fa4c4c;
}

.home-social {
  width: 100%;
  height: 100%;
  color: #fff;
}

.home-social a {
  text-decoration: none;
  color: #fff;
}

.home-social ul {
  /* display: inline-flex; */
  flex-wrap: wrap;
  margin-top: 20px;
}

.home-social ul li {
  flex-wrap: wrap;
  /* padding: 0 4px; */
  /* padding: 30px; */
  /* padding: 3px; */
}

.home-social ul li:not(:first-child) {
  display: inline-flex;
  align-items: center;
}

/* .home-social ul li:not(:nth-child(2)) {
    margin-right: 0px;
    display: none;
    padding: 3px;
} */

.home-social-text {
  font-size: 16px !important;
  /* font-weight: 600 !important; */
  letter-spacing: 0.3px;
}

.home-social-yt:hover {
  background-color: #fa4c4c;
}
.home-social-tg:hover {
  background-color: #2eb9ff;
}
.home-social-wa:hover {
  background-color: #3de250;
}

/* ./home-social li:nth-child(2) {
    margin-left: px;
} */

.home-social-yt,
.home-social-tg,
.home-social-wa {
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: all 0.5s ease;
}

/* SVG(Chart) */
/* .home-svg {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
} */

/*  */

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

.home .home-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home .home-btn .primary-btn:not(:first-child) {
  margin-left: 30px;
}

.home .home-btn .primary-btn {
  height: 50px;
  width: 50px;
  /* color: #ffffff;
    background-color: #f71d1d; */
  padding: 0;
  font-size: 16px;
  animation: pulse_01 2s ease infinite;
}

.home .home-btn .primary-btn:hover {
  animation: none;
  /* color: #ffffff;
    background-color: #f71d1d91; */
  box-shadow: var(--shadow-black-300);
}

.home .home-btn .primary-btn i {
  line-height: 50px;
}

/* .home-img {
  animation: bounceTop_01 3s ease infinite;
} */

.home-img img {
  /* max-width: 250px; */
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
  border-radius: 4px;
  /* background: rgba(255, 255, 255, 0.4); */
  /* animation: bounceTop_01 3s ease infinite; */
}

.home-img {
  position: relative;
}

.mouse-custom {
  cursor: pointer;
}

/* .arrow-custom {
    
} */

/* .home-img .circle {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-img .circle::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: 30px;
    left: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
  } */

/* Kubera Moto Start */

.kubera-moto .kubera-moto-content {
  text-align: center;
  color: var(--black-900);
}

/* Kubera Moto End */

/* Who We Are Start */
.who-we-are {
  background-color: var(--black-100);
}

.who-we-are .who-we-are-content {
  /* text-align: center; */
  text-align: justify;
}

.who-we-are .who-we-are-content p {
  color: var(--black-900);
}

/* Who We Are End */

/* Counter Section Start */
#counter {
  width: 100%;
  background: linear-gradient(180deg, var(--bg-dark) 50%, var(--white) 50%);
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 3rem 0 1rem 0;
  text-align: center;
}

#counter .counter-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  /* margin: 0 2rem; */
  /* padding-bottom: 100px; */
  /* background: #f4f4f4; */
  background: linear-gradient(to right, var(--gradient), var(--main-color));
  border-radius: 1rem;
  /* box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3); */
  /* box-shadow: var(--shadow-black-300); */
  box-shadow: var(--shadow-black-300);
}

.counter-box ul li {
  display: inline-block;
  list-style-type: none;
}

.counter-box .count {
  text-align: center;
  margin: 2rem;
  /* margin: 20px; */
  height: 170px;
  width: 230px;
  position: relative;
  z-index: 1;
}

.counter-box .count::before,
.counter-box .count::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
  background-color: #2980b9;
}

.counter-box .count::after {
  top: 0px;
  bottom: 0px;
  right: 10px;
  left: 10px;
  z-index: -1;
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
  background-color: #f4f4f4;
}

.counter-box .count:hover::after {
  transform: rotate(90deg);
  /* background-color: rgba(244, 244, 244, 0); */
  opacity: 0.9;
}

/* Add Blur Shine effect as seen in youtube video contact page designed channel I think */

.counter-box .count i {
  color: var(--bg-dark);
  font-size: 40px;
  padding: 24px 0;
}

.count .counter-title {
  font-size: 20px;
  text-transform: capitalize;
  color: #2980b9;
  /* padding-bottom: 15px; */
}

.counter-box .count .number {
  font-size: 1.2rem;
  color: var(--main-color);
  /* transition: font-weight 3.5s ease-in; */
}

.counter-box .count .number::after {
  content: "+";
}

.counter-box .count .number span {
  font-size: 1rem;
}

.counter-box .count:nth-child(2)::before {
  background: #f39c12;
}

.counter-box .count:nth-child(2) .counter-title {
  color: #f39c12;
}

.counter-box .count:nth-child(3)::before {
  background: #c0392b;
}

.counter-box .count:nth-child(3) .counter-title {
  color: #c0392b;
}

.counter-box .count:nth-child(4)::before {
  background: #16a085;
}

.counter-box .count:nth-child(4) .counter-title {
  color: #16a085;
}

/* .counter-box .count .counter-title {font-size: 0.85rem;} */
/* .counter-box .count .counter-title {font-size: 1rem;} */

/* Counter Section End */

/*------ Video Popup ------*/
.video-popup {
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.video-popup.open {
  opacity: 1;
  visibility: visible;
}

.video-popup-inner {
  width: 100%;
  max-width: 900px;
  position: relative;
}

.video-popup .video-popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #ffffff;
}

.video-popup .iframe-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-popup #player-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*------ Features Section ------*/

/* for equal height of the box start */
.owl-carousel .owl-stage{display: flex;}
.feature-item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.feature-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* for equal height of the box end */

.features .feature-item {
  box-shadow: var(--shadow-black-100);
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  /* width: 300px; */
  min-height: 290px;
}

.features .feature-item::before,
.features .feature-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0;
}

.features .feature-item::before {
  height: 20px;
  width: 20px;
  background-color: var(--color-1);
  top: 40%;
  left: -20px;
}

.features .feature-item:hover::before {
  left: 10px;
  opacity: 1;
}

.features .feature-item::after {
  height: 30px;
  width: 30px;
  background-color: var(--color-2);
  right: -30px;
  top: 80%;
}

.features .feature-item:hover::after {
  right: -15px;
  opacity: 1;
}

.features .feature-item .icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.features .feature-item .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}

.features .feature-item:hover .icon i {
  color: #ffffff;
  font-size: 1.5rem;
}

.features .feature-item:hover .icon::before {
  left: 0;
  border-radius: 50%;
  opacity: 1;
}

.features .feature-item .icon i {
  line-height: 60px;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.features .feature-item h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: var(--black-900);
  font-weight: 500;
  text-transform: capitalize;
}

.features .feature-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: var(--black-400);
  margin: 0 0 15px;
}

/*------ Fun Facts Section ------*/
.fun-facts {
  background-color: var(--black-100);
}

.fun-facts .section-title {
  margin-bottom: 20px;
}

.fun-facts .section-title h2 {
  text-align: left;
}

.fun-facts-img img {
  max-width: 250px;
  width: 100%;
  box-shadow: var(--shadow-black-100);
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}

.fun-facts-text p {
  font-size: 16px;
  line-height: 26px;
  color: var(--black-400);
  margin: 0 0 15px;
  font-weight: 300;
}

.fun-fact-item {
  padding: 40px 30px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  margin-top: 30px;
}

.fun-fact-item h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 5px;
}

.fun-fact-item span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  display: block;
  color: #ffffff;
}

.fun-fact-item.style-1 {
  background-color: var(--color-1);
}

.fun-fact-item.style-2 {
  background-color: var(--color-2);
}

.fun-fact-item.style-3 {
  background-color: var(--color-3);
}

.fun-fact-item.style-4 {
  background-color: var(--main-color);
}

/*------ App Screenshots Section ------*/
.screenshot-item {
  margin: 15px;
}

.screenshot-item img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: auto;
}

/*------ App Download Section ------*/
.app-download {
  background-image: url("../image/download-app-bg.jpg");
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.app-download .section-title h2 {
  color: #ffffff;
}

.app-download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--main-to-dark-color);
  opacity: 0.8;
}

.app-download-item {
  background-color: var(--black-000);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
}

.app-download-item i {
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
}
.app-download-item h3 {
  font-size: 22px;
  color: var(--black-900);
  margin: 20px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.app-download-item p {
  font-size: 16px;
  color: var(--black-400);
  font-weight: 300;
  margin: 0 0 30px;
  line-height: 26px;
}

/*------ How It Works Section ------*/
.how-it-works-item {
  /* box-shadow: var(--shadow-black-100); */
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.how-it-works-item.line-right::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 60px;
  left: 50%;
  background-color: var(--main-color);
  z-index: -1;
}

.how-it-works-item .step {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 15px;
}

.how-it-works-item h3 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--black-900);
  text-transform: capitalize;
}

.how-it-works-item p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: var(--black-400);
  line-height: 26px;
}

/*------ Testimonials Section ------*/
.testimonials {
  background-color: var(--black-100);
}

.testimonial-item {
  margin: 15px;
  padding: 30px;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  text-align: center;
}

.testimonial-item .img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  position: relative;
}

.testimonial-item .img-box img {
  border-radius: 50%;
  width: 100%;
}

.testimonial-item .img-box i {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  top: calc(50% - 15px);
  left: calc(100% - 15px);
}

.testimonial-item p {
  font-size: 16px;
  margin: 0 0 26px;
  color: var(--black-400);
  line-height: 26px;
  font-weight: 300;
}

.testimonial-item h3 {
  font-size: 18px;
  color: var(--black-900);
  font-weight: 500;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.testimonial-item span {
  display: block;
  font-size: 16px;
  color: var(--black-400);
  font-weight: 300;
}

.testimonial-item .rating {
  margin-top: 10px;
}

.testimonial-item .rating i {
  display: inline-block;
  font-size: 16px;
  color: var(--color-2);
}

/*------ Pricing Section ------*/
.pricing-plan {
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
}

.pricing-plan .pricing-header {
  padding: 20px 30px;
  border-bottom: 1px solid var(--black-alpha-100);
}

.pricing-plan .pricing-header h3 {
  text-align: center;
  font-size: 30px;
  color: var(--black-900);
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.pricing-plan .pricing-price {
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  line-height: 0.7;
}

.pricing-plan .pricing-price .currency {
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  margin-right: 5px;
  align-self: flex-start;
}

.pricing-plan .pricing-price .price {
  font-size: 80px;
  font-weight: 700;
  color: var(--main-color);
}

.pricing-plan .pricing-price .period {
  font-size: 14px;
  font-weight: 300;
  color: var(--black-400);
  margin-right: 5px;
  align-self: flex-end;
  text-transform: uppercase;
}

.pricing-plan .pricing-body {
  padding: 0 30px;
}

.pricing-plan .pricing-body ul li {
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid var(--black-alpha-100);
  line-height: 26px;
  position: relative;
}

.pricing-plan .pricing-body ul li:last-child {
  border-bottom: none;
}

.pricing-plan .pricing-body ul li i {
  color: var(--main-color);
  position: absolute;
  top: 12px;
  left: 0;
}

.pricing-plan .pricing-footer {
  padding: 20px 30px 30px;
  text-align: center;
}

/*------ Team Section ------*/
.team {
  background-color: var(--black-100);
}

.team-item {
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
}

.team-item h3 {
  font-size: 16px;
  color: var(--black-900);
  font-weight: 500;
  margin: 15px 0 5px;
  text-transform: capitalize;
}

.team-item span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
  text-transform: capitalize;
}

/*------ FAQ Section ------*/
.faq .accordion-item:not(:last-child) {
  margin-bottom: 20px;
}

.faq .accordion-header {
  box-shadow: var(--shadow-black-100);
  padding: 20px 50px 20px 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}

.faq .accordion-header::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: var(--black-400);
  transition: all 0.5s ease;
}
.faq .accordion-header:not(.collapsed)::before {
  content: "\f068";
  color: #ffffff;
}

.faq .accordion-header:not(.collapsed) {
  background-color: var(--main-color);
  box-shadow: none;
}

.faq .accordion-header h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-400);
  margin: 0;
  transition: all 0.5s ease;
}

.faq .accordion-header:not(.collapsed) h3 {
  color: #ffffff;
}

.faq .accordion-body {
  padding: 20px 30px;
  background-color: var(--black-100);
}

.faq .accordion-body p {
  font-weight: 300;
  font-size: 16px;
  color: var(--black-400);
  line-height: 26px;
  margin: 0;
}

/*------ Contact Section ------*/
.contact {
  background-color: var(--black-100);
}

.contact-info h3 {
  font-size: 22px;
  color: var(--black-900);
  font-weight: 500;
  margin: 0 0 40px;
}

.contact-info-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}

.contact-info-item i {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 50%;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  line-height: 38px;
}

.contact-info-item h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  color: var(--black-900);
}

.contact-info-item p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}

.contact-form .form-group {
  margin-bottom: 25px;
}

.contact-form .form-control {
  height: 52px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 30px;
  padding: 0 24px;
  color: var(--black-900);
  background-color: var(--black-000);
  transition: all 0.5s ease;
}

.contact-form textarea.form-control {
  height: 140px;
  padding-top: 12px;
  resize: none;
}

.contact-form .form-control:focus {
  border-color: var(--main-color);
}

/*------ Footer ------*/
.footer {
  background-color: var(--main-color);
  padding: 50px 0 0;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 25px;
  text-transform: capitalize;
}

.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.footer-col ul {
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}

.footer-col ul li a:hover {
  padding-left: 5px;
}

.footer .copyright-text {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 50px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*------ Toggle Theme Light and Dark Mode ------*/
.toggle-theme {
  position: fixed;
  right: 0;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
  background-color: var(--dark-to-main-color);
  z-index: 1200;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: var(--shadow-black-300);
  font-size: 16px;
  text-align: center;
}

.toggle-theme i {
  line-height: 40px;
}

/*------ MEDIA QUERIES!!! (Responsive) ------*/
@media (max-width: 1030px) {
  #counter {
    padding: 2rem 0;
  }

  .counter-box .count {
    margin: 24px;
    height: 85px;
    width: 115px;
  }

  .counter-box .count::before,
  .counter-box .count::after {
    top: 10px;
    bottom: 10px;
  }

  .counter-box .count::after {
    top: 0px;
    bottom: 0px;
    right: 5px;
    left: 5px;
  }

  .counter-box .count i {
    font-size: 1.5rem;
    padding: 8px 0 6px 0;
  }

  .count .counter-title {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }

  .counter-box .count .number {
    font-size: 0.8rem;
  }
  /* .counter-box .count .number span {font-size: 1rem} */
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #ffffff;
  }

  .navbar-nav {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
  }

  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }

  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }

  /* .home-img .circle {
    height: 320px;
    width: 320px;
  }

  .home-img .circle::before {
    top: 18px;
    left: 18px;
    transform-origin: 142px 142px;
  } */

  .home-text h1 {
    font-size: 40px;
  }

  .pricing-plan,
  .how-it-works-item,
  .app-download-item {
    margin-bottom: 30px;
  }

  .how-it-works-item.line-right::before {
    content: none;
  }

  .how-it-works-item {
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
  }

  .footer-col {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .home-text {
    margin-bottom: 80px;
  }

  .mouse-custom,
  .arrow-custom {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .counter-box .count {
    /* margin: 1rem; */
    margin: 20px;
  }

  .fun-facts-img {
    margin-bottom: 30px;
  }

  .contact-form {
    margin-top: 20px;
  }

  .section-title h2 {
    font-size: 35px;
  }

  .fun-facts .section-title h2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .home-text h1 {
    font-size: 30px;
  }

  .home-text p {
    font-size: 16px;
  }

  .section-title h2 {
    font-size: 30px;
  }
}

@media (max-width:990px) and (min-width:768px) {
  .home-img img {
    position: relative;
    top: -60px;
  }
}